.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__image {
    border-radius: 10%;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    object-position: top;
}

.hero__subtitle {
    color: var(--color-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title {
    color: var(--color-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-slate600);
}

.hero__button {
    text-transform: capitalize;
    font-size: var(--size-sm);
}

/* XS */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }
    
    .hero__image {
        height: 6.5rem;
        width: 6.5rem;
    }
    
    .hero__subtitle {
        font-size: var(--size-lg);
    }
    
    .hero__title {
        font-size: var(--size-5xl);
    }
    
    .hero__description {
        font-size: var(--size-base);
    }
    
    .hero__button {
        font-size: var(--size-base);
    }
}

/* SM */
@media (min-width: 640px) {}

/* MD */
@media (min-width: 768px) {}

/* LG */
@media (min-width: 1024px) {
    .hero__image {
        height: 8rem;
        width: 8rem;
    }
    
    .hero__subtitle {
        font-size: var(--size-2xl);
    }
    
    .hero__title {
        font-size: var(--size-7xl);
    }
    
    .hero__description {
        font-size: var(--size-lg);
    }
    
    .hero__button {
        font-size: var(--size-lg);
    }
}

/* XL */
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }

    .hero__image {
        height: 10rem;
        width: 10rem;
    }
    
    .hero__subtitle {
        font-size: var(--size-4xl);
    }
    
    .hero__title {
        font-size: var(--size-9xl);
    }
    
    .hero__description {
        font-size: var(--size-xl);
    }
    
    .hero__button {
        font-size: var(--size-xl);
    }
}

/* 2X */
@media (min-width: 1536px) {}